/* ../fil/fil (fordi selve css ligger inde i en mappe, så man skal ud fra mappen via.
".." og så kan man finde de andre mapper/få suggestions) */
.hide {
  display: none;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/spil/start_screen.svg);
  background-size: cover;
}

#game_logo {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 30%;
  translate: -50% -50%;
  aspect-ratio: 552/355;
  background-image: url(../assets/spil/logo.svg);
  background-size: cover;
}

#start_knap {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 25%;
  translate: -50% -50%;
  aspect-ratio: 385/116;
  background-image: url(../assets/spil/play_button.svg);
  background-size: cover;
  cursor: pointer;

  animation-name: pulse_kf;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

#start_knap:hover {
  background-image: url(../assets/spil/play_button_hover.svg);
  animation-play-state: paused;
}

#instruction {
  position: absolute;
  top: 6%;
  left: 87%;
  width: 5%;
  aspect-ratio: 87/98;
  background-image: url(../assets/spil/info.svg);
  background-size: cover;
  cursor: pointer;
}

#instruction:hover {
  background-image: url(../assets/spil/infopopup.svg);
  background-size: cover;
  aspect-ratio: 396/368;
  width: 25%;
  position: absolute;
  top: 6%;
  left: 69%;
}

/* Vha. Chatgpt "::after og content" */
#instruction:hover::after {
  content: "Dette er katten Ralfie, han er virkelig sulten. Vil du ikke være sød at fodre ham med noget tun på dåse, fremfor kødben? Men skynd' dig! Han kan nemlig godt blive hangry.";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2bde9;
  font-size: 1.5cqw;
  line-height: 1.5;
  font-family: "playpen_sansregular";
  width: 17ch;
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/spil/hcr_gameover.svg);
  background-size: cover;
}

#game_overpoint {
  position: absolute;
  top: 88.5%;
  left: 24.5%;
  width: auto;
  font-size: 2cqw;
  font-family: "playpen_sansregular";
}

#game_overlife {
  position: absolute;
  top: 88%;
  left: 10%;
  width: auto;
  font-size: 3cqw;
  font-family: "playpen_sansregular";
}

#game_overtxt {
  position: absolute;
  top: 24%;
  left: 4%;
  font-size: 3cqw;
  font-family: "playpen_sansregular";

  /* txt box */
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px;
  max-width: 15ch;
  text-align: center;
}

#angry_effect {
  position: absolute;
  top: 46%;
  left: 20%;
  width: 4.5%;
  aspect-ratio: 80/110;
  background-image: url(../assets/spil/angry_effect.svg);
  background-size: cover;

  /* angry effect: vha. Chatgpt foreslag */
  animation-name: angry_effect_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes angry_effect_kf {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1) rotate(-10deg);
  }
  50% {
    transform: scale(1) rotate(10deg);
  }
  75% {
    transform: scale(1.1) rotate(-10deg);
  }
  100% {
    transform: scale(1);
  }
}

#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/spil/vundetskærm.svg);
  background-size: cover;
}

#lvlc_point {
  position: absolute;
  top: 88.5%;
  left: 24.5%;
  width: auto;
  font-size: 2cqw;
  font-family: "playpen_sansregular";
}

#lvlc_life {
  position: absolute;
  top: 88%;
  left: 10%;
  width: auto;
  font-size: 3cqw;
  font-family: "playpen_sansregular";
}

#lvlc_txt {
  position: absolute;
  top: 24%;
  left: 4%;
  font-size: 3cqw;
  font-family: "playpen_sansregular";

  /* txt box */
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px;
  max-width: 15ch;
  text-align: center;
}

#happy_effect {
  position: absolute;
  top: 40%;
  left: 1%;
  width: 40%;
  aspect-ratio: 373/178;
  background-image: url(../assets/spil/happy_effects.svg);
  background-size: cover;

  /* heartbeat effect: vha. Chatgpt foreslag */
  animation-name: happy_effect_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes happy_effect_kf {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#genstart1,
#genstart2 {
  position: absolute;
  top: 40%;
  left: 62%;
  width: 20%;
  aspect-ratio: 385/116;
  background-image: url(../assets/spil/play_again.svg);
  background-size: cover;
  cursor: pointer;

  animation-name: pulse_kf;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#genstart1:hover {
  background-image: url(../assets/spil/play_again_hover.svg);
  animation-play-state: paused;
}

#genstart2:hover {
  background-image: url(../assets/spil/play_again_hover.svg);
  animation-play-state: paused;
}

#home1,
#home2 {
  position: absolute;
  top: 55%;
  left: 62%;
  width: 20%;
  aspect-ratio: 385/116;
  background-image: url(../assets/spil/home.svg);
  background-size: cover;
  cursor: pointer;

  animation-name: pulse_kf;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#home1:hover {
  background-image: url(../assets/spil/home_hover.svg);
  animation-play-state: paused;
}

#home2:hover {
  background-image: url(../assets/spil/home_hover.svg);
  animation-play-state: paused;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/spil/background.svg);
  background-size: cover;
}

/************** UI **************/
#game-elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#time_container {
  position: absolute;
  width: 11%;
  top: 8%;
  left: 50%;
  translate: -50% -50%;
  aspect-ratio: 160/103;
}

#time_ramme {
  position: absolute;
  background-image: url(../assets/spil/timer.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

#time_fyld {
  position: absolute;
  background-image: url(../assets/spil/timerfyld.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.timer {
  animation-name: timer_kf;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes timer_kf {
  0% {
    clip-path: inset(0 0 0);
  }

  100% {
    clip-path: inset(100% 0 0);
  }
}

#lives {
  position: absolute;
  top: 50%;
  left: 83%;
  width: 11%;
  aspect-ratio: 112/70;
  background-image: url(../assets/spil/life.svg);
  background-size: cover;

  /* text */
  display: flex;
  line-height: 3;
  justify-content: center;
  font-size: 2.8cqw;
  font-family: "playpen_sansregular";
}

#points {
  position: absolute;
  top: 65%;
  left: 83%;
  width: 11%;
  aspect-ratio: 134/87;
  background-image: url(../assets/spil/points.svg);
  background-size: cover;

  /* text */
  display: flex;
  line-height: 4;
  justify-content: center;
  font-size: 2.2cqw;
  font-family: "playpen_sansregular";
}

/************** main character, god og dårlig element **************/
#ralfie {
  position: absolute;
  top: 59%;
  left: -4%;
  width: 50%;
  aspect-ratio: 670/390;
  background-image: url(../assets/spil/ralfie.svg);
  background-size: cover;
}

#tun_container1,
#tun_container2 {
  width: 10%;
  aspect-ratio: 115/117;
  position: absolute;
  top: -30%;
}

#tun1,
#tun2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/spil/tuna.svg);
  background-size: cover;
  cursor: pointer;
}

#madrest_container1,
#madrest_container2 {
  width: 10%;
  aspect-ratio: 115/117;
  position: absolute;
  top: -30%;
}

#madrest1,
#madrest2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/spil/badbone.svg);
  background-size: cover;
  cursor: pointer;
}

/************** SPILLETS EFFEKTER **************/
.flyve {
  animation-name: flyve_kf;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes flyve_kf {
  100% {
    translate: 0 700%;
  }
}

@keyframes flyve_delay_kf {
  100% {
    translate: 0 750%;
  }
}

.paused {
  animation-play-state: paused;
}

.fade {
  animation-name: fade_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

/* scale: pulserende effekt (vha. ChatGPT) */

@keyframes fade_kf {
  0% {
    opacity: 1;
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}

.eeh {
  animation-name: eeh_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

/* scale: shake effekt (vha. ChatGPT) */

@keyframes eeh_kf {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

/* random positioner */
.pos1 {
  left: 30%;
}

.pos2 {
  left: 70%;
}

.pos3 {
  left: 60%;
}

.pos4 {
  left: 50%;
}

.pos5 {
  left: 40%;
}

/* random delay */
.del1 {
  animation-delay: 0s;
}

.del2 {
  animation-delay: 0.5s;
}

.del3 {
  animation-delay: 0.8s;
}

/* random speed */
.speed1 {
  animation-duration: 3s;
}

.speed2 {
  animation-duration: 2s;
}

.speed3 {
  animation-duration: 1s;
}
